body, html{
	margin: 0;
	padding: 0;
	background-color: #555555;
	counter-reset: my-panel-counter 0;
	counter-reset: my-pageheader-counter 0;
}

table {
	margin: 0;
	padding: 0;
	width: 100%;
}

table td {
	padding: 0;
	font-size: 8pt;
	width: 25%;
}

table td.leftmost {
	text-align: left;
}

table td.midmost {
	text-align: left;
}

table td.rightmost {
	text-align: left;
}

h1::after{
	content: " " counter(my-pageheader-counter);
}

h1 {
	text-align: right;
	font-size: 18pt;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

p.panelcount{
	font-size: 10pt;
	text-align: right;
	margin-top: -0.20in;
}

p.panelcount::before {
	counter-increment: my-panel-counter 1;
	content: "Panel: " counter(my-panel-counter); 
}

p.scenedesc {
	width: 7.5in;
	margin-bottom: 1em;
}

p.character, p.captiontitle, p.sfxtitle {
	margin-bottom: 0;
	font-weight: bold;
	text-decoration: underline;
}

p.dialogue, p.captioncontent, p.sfxcontent {
	margin-top: 0;
}

div.dialogueblock, div.captionblock, div.sfxblock {
	margin-top: 0;
	margin-bottom: 1em;
	padding: 0;
	padding-left: 1.5em;
}

div.page {
	margin: 0 auto;
	padding: 0.25in;
	width: 8.5in;
	page-break-after: always;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14pt;
	background-color: #FFFFFF;
	counter-reset: my-panel-counter 0;
	counter-increment: my-pageheader-counter 1;
}

div.panel {
	margin: 0;
	padding: 0;
	padding-top: 1em;
	width: 100%;
	border-top: 1px solid black;
}
